.row{
  margin-left: 0px;
  margin-right: 0px;
}

p{
  padding-left : 20px;
  background-color: lightgray;
  border: 1px solid darkgray;
}

#footer {

  position: fixed;
  bottom: 0;
  width: 100%;

}
